* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: gray;
  overflow-x: hidden;
}

.wrapper {
  z-index: -15;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin atMedium {
    margin-bottom: 10%;

    &--footer {
      margin-bottom: 0;
    }
  }

  @mixin atExtraLarge {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainBlue-transparent;
  color: #ffff;
  min-height: 30px;
  max-height: 50px;
  text-align: center;
  font-size: 1rem;
  padding: 3px 0;
  margin-bottom: 20px;
  word-spacing: 5px;
  letter-spacing: 1.3px;
  transform: skew(-20deg);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;

  @mixin atMedium {
    font-size: 1.3rem;
  }
}
