$mainBlue: #2f5572;
$mainBlue-transparent: rgb(47, 85, 114, 0.7);
$mainGray: linear-gradient(145deg, #d5d5d5, #b3b3b3);
$mainGray-light: linear-gradient(145deg, #d4d4d4, #c7c7c7);
$Gray_svg: rgb(207, 207, 207);
