.about {
  position: relative;
  display: inline-block;
  max-width: 2200px;

  @mixin atLarge {
    display: flex;
  }

  &__container-round {
    position: relative;
    margin-top: 10px;
    z-index: 1;

    width: 300px;
    height: 300px;
    perspective: 500px;

    @mixin atSmall {
      width: 400px;
      height: 400px;
      margin-top: 30px;
      perspective: 600px;
    }

    @mixin atMedium {
      margin-top: 0;
    }

    @mixin atExtraLarge {
      display: inline;
      width: 500px;
      height: 500px;
      perspective: 700px;
    }

    &:hover .about__content {
      transform: rotateY(180deg);
      transition: transform 0.5s;
    }
  }

  &__content {
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  &__image {
    width: 300px;
    height: 300px;
    border: 5px solid $mainBlue-transparent;
    border-radius: 50% 50% 50% 50% / 15% 15% 85% 85%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    box-shadow: 0px 0px 5px $mainBlue-transparent;

    position: absolute;
    backface-visibility: hidden;

    @mixin atSmall {
      width: 400px;
      height: 400px;
    }

    @mixin atMedium {
      border: 10px solid $mainBlue-transparent;
    }

    @mixin atExtraLarge {
      width: 500px;
      height: 500px;
      border: 10px solid $mainBlue-transparent;
    }

    &--back {
      transform: rotateY(180deg);
    }
  }

  p {
    align-self: center;
    position: relative;
    color: white;
    line-height: 1rem;
    word-spacing: 0.2rem;
    font-size: 1rem;
    text-shadow: 1px 0.5px $mainBlue;
    text-align: justify;
    top: -50px;
    font-weight: 400;
    padding: 50px 10px 10px 10px;
    background-color: $mainBlue-transparent;
    border-radius: 10px;
    transition: all 0.3s linear;
    box-shadow: 0px 0px 10px gray;

    @mixin atMedium {
      line-height: 2rem;
      text-shadow: 2px 2px $mainBlue;
    }
    @mixin atLarge {
      top: 0;
      max-width: 1064;
      max-height: 708px;
      line-height: 2rem;
      padding: 50px 50px 50px 125px;
      border-radius: 0;
      transform: translateX(-140px) skew(-20deg);
    }
  }
}
