.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 2.625rem;
}
.social_media {
  z-index: 10;
  width: 100vw;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $mainBlue-transparent;

  position: fixed;
  bottom: 0;
  height: 40px;
  border-radius: 0;

  @mixin atSmall {
    border-radius: 3.125rem 3.125rem 0 0;
    max-width: 25rem;
  }

  a {
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  svg {
    user-select: none;
    stroke: #ffff;
    transition: all 0.3s ease;
  }
}

.up {
  position: fixed;
  bottom: 50px;
  left: 2%;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.808);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;

  &:active {
    bottom: 60px;
  }

  &--down {
    animation: floating--upside 2s linear infinite;
    &:active {
      bottom: 50px;
    }
  }

  @mixin atSmall {
    height: 70px;
    width: 70px;
  }

  @mixin atLarge {
    height: 90px;
    width: 90px;
  }

  @mixin atExtraLarge {
    left: 10%;
  }

  svg {
    stroke: $mainBlue-transparent;
    stroke-width: 2px;

    @mixin atSmall {
      height: 70px;
      width: 70px;
    }

    @mixin atLarge {
      height: 90px;
      width: 90px;
    }
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);

    @mixin atMedium {
      transform: translate(0, 20px);
    }
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating--upside {
  0% {
    transform: translate(0, 0) rotateX(180deg);
  }

  50% {
    transform: translate(0, 10px) rotateX(180deg);

    @mixin atMedium {
      transform: translate(0, 20px) rotateX(180deg);
    }
  }

  100% {
    transform: translate(0, 0) rotateX(180deg);
  }
}
