.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 2.625rem;
}
.social_media {
  z-index: 100;
  width: 100vw;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $mainBlue-transparent;

  position: fixed;
  bottom: 0;
  height: 40px;
  border-radius: 0;

  @mixin atSmall {
    border-radius: 3.125rem 3.125rem 0 0;
    max-width: 25rem;
  }

  a {
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  svg {
    user-select: none;
    stroke: #ffff;
    transition: all 0.3s ease;
  }
}

.up {
  position: fixed;
  bottom: 30px;
  left: 2%;
  transition: all 0.1s linear;

  @mixin atSmall {
    bottom: 0;
  }

  @mixin atExtraLarge {
    left: 10%;
  }

  svg {
    stroke: $mainBlue-transparent;
    stroke-width: 2px;

    @mixin atExtraLarge {
      height: 70px;
      width: 70px;
    }
  }

  &:active {
    bottom: 40px;
  }
}
