.gear-section {
  display: block;
  max-height: 200px;
  width: 100%;

  h3 {
    width: 100%;
    text-align: center;
  }
}
.gear__item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: floating 10s linear infinite;

  svg {
    width: 70px;
    height: 70px;

    @mixin atMedium {
      width: 100px;
      height: 100px;
    }
  }

  &--purple {
    fill: #6d278e;
  }

  &--purple-2 {
    fill: #7425e0;
  }

  &--gold {
    fill: #ce9d41;
  }

  &--small svg {
    width: 50px;
    height: 50px;

    @mixin atMedium {
      width: 70px;
      height: 110px;
    }
  }

  &--medium svg {
    width: 100px;
    height: 100px;

    @mixin atMedium {
      width: 200px;
      height: 200px;
    }
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0, 10px);

      @mixin atMedium {
        transform: translate(0, 20px);
      }
    }

    100% {
      transform: translate(0, 0);
    }
  }
}
