.songs {
  position: relative;
  max-width: 2200px;
  width: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @mixin atSmall {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      column-gap: 10px;
    }

    @mixin atMedium {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
    }

    iframe {
      border-radius: 20px;
      box-shadow: 0px 0px 10px gray;
      padding-bottom: 20px;
      margin-bottom: 20px;
      max-width: 300px;
    }
  }
}
